name: Continuous Integration (CI)

on: pull_request

permissions:
  contents: read

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [go/aws, go/local]
        language: [go, shell]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check formatting.
        run: cd "${{ matrix.directory }}" && make check-${{ matrix.language }}-formatting
  linting:
    name: Linting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [go/aws, go/local]
        language: [go]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check linting.
        run: cd "${{ matrix.directory }}" && make check-${{ matrix.language }}-linting
  modules:
    name: Modules
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [go/aws, go/local]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check modules.
        run: cd "${{ matrix.directory }}" && make check-modules
  compile:
    name: Compile
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [go/aws, go/local]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Compile.
        run: cd "${{ matrix.directory }}" && make compile
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [go/aws, go/local]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Unit test.
        run: cd "${{ matrix.directory }}" && make unit-test
