name: Continuous Integration (CI)

on: pull_request

permissions:
  contents: read

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [nodejs/aws, nodejs/local]
        language: [nodejs, shell]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check formatting.
        run: cd "${{ matrix.directory}}" && make check-${{ matrix.language }}-formatting
