name: Continuous Integration (CI)

on: pull_request

permissions:
  contents: read

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [nodejs/aws, nodejs/local]
        language: [nodejs, shell]
    steps:
      - name: Checkout code.
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Check formatting.
        run: cd "${{ matrix.directory}}" && make check-${{ matrix.language }}-formatting
